* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto, Arial, sans-serif;
}

header {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 5;
    position: fixed;
    padding: 16px 16px;
    top: 0;
    right: 0;
    left: 0;

}

.navigation {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.navigation__menu {
    align-items: center;
    display: flex;
}

.avatar {
    cursor: pointer;
}

.navigation__menu__btn {
    fill: rgb(96, 96, 96);
    padding: 5px 10px;
    font-size: 28px;
    cursor: pointer;
}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.f-size--20 {
    font-size: 20px;
}

.mg-right--20 {
    margin-right: 20px;
}

.overlay-mobile {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.navigation__menu__btn:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
}

.navigation__search {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navigation__search>.form-search {
    position: relative;
    display: flex;
    flex: 1;
    max-width: 640px;
}

.mg-top--0 {
    margin-top: 0px;
}

.form-search {
    display: flex;
}

.form-search>input:focus {
    border: 1px solid rgb(94, 141, 243);
    padding-left: 30px;
}

.form-search>input:focus~.mdi-search-web {
    padding: 11px;
    visibility: visible;
}

.form-search>input {
    width: 100%;
    border: 1px solid;
    border-color: #c6c6c6;
    background-color: #fff;
    box-shadow: inset 0 1px 2px #eee;
    border-radius: 40px 0 0 40px;
    /* margin-left: 32px; */
    padding: 10px;
    cursor: text;
    font-size: 16px;
    padding-left: 20px;
    outline: none;

}

.mdi-search-web {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: gray;
    visibility: hidden;
}

.mdi-magnify {
    border: 1px solid #d3d3d3;
    background-color: #f8f8f8;
    width: 70px;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: inherit;
    display: inline-block;
    font-size: 28px;
    background-color: hsla(0, 0%, 100%, .08);
    color: #636060;
}

.micro {
    margin-left: 20px;
}

.hover-noti {
    width: 155px;
    top: 100%;
    left: 62%;
    position: absolute;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    margin: 0;
    display: none;
}

.micro>.mdi-microphone:hover {
    background-color: rgba(0, 0, 0, 0.1);

}

.micro:hover .hover-noti {
    display: block;

}

.micro>button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 22px;
    border-radius: 50%;
    align-items: center;
}

.mdi-keyboard {
    top: 20%;
    color: #636060;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 12%;
    border: none;
    background-color: #fff;
    font-size: 22px;
}

.mdi-magnify:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.navigation__options {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn-create {
    cursor: pointer;
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 40px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    background-color: rgba(0, 0, 0, 0.05);
}

.btn-create:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn-create>.mdi-plus {
    font-size: 28px;
    color: #636060;

}

.btn-create-name {
    line-height: 1.8;
    font-weight: 500;
    font-size: 14px;
}

/* .mdi-bell-outline {
    cursor: pointer;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    font-size: 24px;
} */
.icon-notifi {
    cursor: pointer;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    font-size: 24px;
}

.hover-bell {
    width: 70px;
    top: 140%;
    position: absolute;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    margin: 0;
    display: none;
}

.icon-notifi:hover .hover-bell {
    display: block;
}

.icon-notifi:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.icon-notifi>span {
    position: absolute;
    padding: 0 4px;
    border-radius: 22px;
    background-color: #e1002d;
    font-size: 12px;
    color: white;
    height: 16px;
    border: 1px solid #fff;
    font-weight: 400;
    line-height: 16px;
    top: 1px;
    left: 18px
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar {
    display: none;
    /* background-color: #d3d3d3; */
    width: 250px;
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    padding: 12px 0;
    /* height: calc(100vh - 80px); */
    overflow-y: scroll;
    margin-top: 5px;
    background-color: white;
    z-index: 1;


}

.sidebar__sub {
    width: 80px;
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    padding: 12px 0;
    margin-top: 5px;
    background-color: white;
    z-index: 1;
}

/* .tags {
    width: 100%;
    margin-top: 10px;
    display: flex;
    left: 120px;
    background-color: white;
    top: 60px;
    z-index: 4;
    position: fixed;
    overflow-x: auto;

} */

.tags-item {
    background-color: rgba(0, 0, 0, 0.05);
    margin: 12px 12px 12px 0;
    padding: 0 12px;
    border-radius: 12px;
    flex-shrink: 0;
}

.tags-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.tags-item:first-child {
    background-color: black;
}

.tags-item:first-child>a {
    color: white;
}

.tags-item>a {
    text-decoration: none;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
    color: black;
    font-weight: 500;

}

.sidebar__section {
    padding: 8px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar__section:first-child {
    display: block;
    margin: 0 15px;
    border: none;
}

.siderbar__section__link {
    display: flex;
    color: rgb(3, 3, 3);
    text-decoration: none;
    align-items: center;
    font-size: 14px;
    padding: 0 16px;
    height: 40px;
    margin: 0 5px 0 10px;
}

.siderbar__section__link:hover {
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: 500;
}

.icon-siderbar {
    margin-right: 20px;
    font-size: 24px;
}

.icon-sub-sidebar {
    font-size: 24px;
}

.icon-siderbar-channel {
    color: #f03;
    margin-left: 10px;
    font-size: 16px;
}

.siderbar__section__link--selected {
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: 500;
}

.ab-me {
    gap: 10px;
    align-items: center;
}

.siderbar__section__link>.is-me {
    font-size: 16px;
    font-weight: 500;
}

.siderbar__section__channel {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.mdi-chevron-right {
    font-size: 20px;
}

.avatar-sidebar {
    margin-right: 20px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.icon-red {
    color: red;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-footer-top,
.sidebar-footer-bot,
.sidebar-footer-end {
    padding: 0 16px;
    margin: 0 5px 0 10px;
}

.sidebar-footer-end {
    font-size: 13px;
    color: #909090;

}

.sidebar-footer-top>a {
    display: inline-block !important;
    text-decoration: none;
    color: #606060;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2rem;
}

.sidebar-footer-bot>a {
    display: inline-block !important;
    text-decoration: none;
    color: #606060;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2rem;
}

.sidebar__section:last-child {
    border-bottom: none;
}

#open-sidebar:checked~.sidebar {
    top: -6px;
    z-index: 6;
    display: block;
}

#open-sidebar:checked~.overlay {
    z-index: 6;
    display: block;
}

#open-sidebar:checked~.tags {
    margin-left: 150px;
}

/* #open-sidebar:checked~.content__wrapper {
    position: relative;
    left: 150px;
} */

.siderbar__sub__section__link {
    gap: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: rgb(3, 3, 3);
    text-decoration: none;
    align-items: center;
    font-size: 12px;
    padding: 16px;
    margin: 10px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.siderbar__sub__section__link:first-child {
    margin-top: 0px;
}

.siderbar__sub__section__link:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.btn-create {
    position: relative;
}

.deploy-dialog {
    padding-left: 0;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    position: fixed;
    top: 5%;
    left: 86%;
    width: 180px;
    display: none;
    background-color: white;
}

.deploy-dialog li {
    list-style: none;
    display: block;
    padding: 5px 20px;
}

.deploy-dialog li a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 14px;
    align-items: center;
    gap: 20px;
    line-height: 1.2;
    justify-content: flex-start;
    text-align: center;
}

.deploy-dialog li:hover {
    background-color: #d3d3d3;
}


#popup:checked~.deploy-dialog {
    display: block;
}

.content__wrapper {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 100px;
}

.video-detail {
    flex-basis: calc(65% - 10px);
}

.video-detail video {
    width: 100%;
    border-radius: 12px;
}

.title-video {
    margin: 12px 0;
    font-weight: 600;
    font-size: 22px;
    font-weight: 700;
    color: #0f0f0f;
}

.above-the-fold {
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;

}

.info img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.channel {
    display: flex;
    align-items: center;
    gap: 30px;
}

.channel-details p {
    line-height: 1.4;
    margin: 0;
}

.channel-details>.channel-name {
    font-weight: 500;
    font-size: 16px;
}

.channel-details>.subs {
    font-size: 13px;
    color: #606060;
}

.channel>.subscribed {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.05);
}


.subscribed:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

.mdi-chevron-down {
    font-size: 22px;
}

.icon-subcribed,
.icon-share {
    font-size: 24px;
}

.text-subcribed,
.text-share {
    font-size: 14px;
    font-weight: 500;
}

.action {
    display: flex;
    gap: 10px;
}

.action-like-dislike {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 22px;
    align-items: center;
    display: flex;
}

.action-like-dislike button {
    outline: none;
    border: none;
    background: none;
}

.border-mid {
    width: 1px;
    height: 20px;
    background: #ccc;
}

.icon-like,
.icon-dislike {
    font-size: 24px;
    cursor: pointer;

}

.like {
    display: flex;
    align-items: center;
    /* margin-right: 10px; */
    padding: 5px 10px;
}

.dislike {
    padding: 5px 10px;
    cursor: pointer;

}

.like:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    cursor: pointer;
}

.dislike:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
}

.total-like {
    font-size: 14px;
    font-weight: 500;
}

.action-share,
.action-dowload,
.action-thank,
.action-more {
    display: flex;
    align-items: center;
    padding: 5px 12px;
    gap: 5px;
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.05);
}

.action-share:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.action-thank:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.action-dowload:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.action-more:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.action-more label {
    cursor: pointer;
    position: relative;
}

.description {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.description:hover {
    cursor: pointer;
}

.date-views>.num-views,
.date,
.hastags {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8;
}

.hastags {
    font-weight: 500;
    color: #636060;
}

.date {
    margin: 0 5px;
}

.descripton-sub span {
    font-size: 14px;
}

.descripton-end {
    margin-top: 20px;
    width: 500px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.descripton-end span {
    font-size: 14px;
}

.more {
    background-color: #fff;
    position: absolute;
    top: 90%;
    left: -80%;
    width: 200px;
    padding-left: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1;
}

.more li {
    list-style: none;
    display: block;
    padding: 5px 20px;
}

.more li a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 14px;
    align-items: center;
    gap: 20px;
    line-height: 1.2;
    justify-content: flex-start;
    text-align: center;

}

#more:checked~.more {
    display: block;
}

.suggest-video {
    width: 400px;
}

.videos {
    margin-top: 20px;
}

.videos a {
    text-decoration: none;
}

.video-card {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.tags {
    overflow-x: auto;
    display: flex;
}

.thumbnail img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.video-text .title {
    color: #000;
    font-weight: 500;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-text .channel {
    margin-top: 5px;
    font-size: 14px;
    color: #606060;
}

.stats {
    font-size: 14px;
    color: #606060;
    margin-top: 5px;
}

.video-info {
    flex-basis: calc(55% - 5px);
    display: flex;
}

.dots-vertical {
    font-size: 24px;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
    color: #000;
}

.menu-modal {
    display: none;
    background-color: #fff;
    right: 0;
    position: absolute;
    z-index: 1;
    width: 280px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.menu-modal-top,
.menu-modal-bot {
    margin: 10px 0;
    padding-left: 0;
}

.menu-modal-top li {
    padding-left: 20px;
}

.menu-modal-bot li {
    padding-left: 20px;
}

.menu-modal-top li:hover {
    background-color: #d3d3d3;
}

.menu-modal-bot li:hover {
    background-color: #d3d3d3;
}

#menu-services:checked~.menu-modal {
    display: block;
}



.line-mid {
    padding: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
}

.menu-modal ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-modal ul li span {
    color: #000;
    line-height: 1.4;
}

.menu-modal ul li .text-modal {
    font-size: 14px;
}

.thumbnail {
    flex-basis: calc(45% - 5px);
    position: relative;
}

.time-badge {
    position: absolute;
    right: 10px;
    bottom: 20px;
    color: #fff;
    font-size: 0.875rem;
    padding: 0 5px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}

.badge {
    display: inline-block;
    margin-top: 0px;
    color: #606060;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 4px;
}

.subscribed,
.action-like-dislike,
.action-dowload,
.action-share,
.action-thank,
.action-more {
    flex-shrink: 0;
}





@media(max-width: 820px) {
    .content__wrapper {
        margin-left: 25px;
    }

    .action-dowload,
    .action-thank {
        display: none;
    }

    .video-detail {
        flex-basis: calc(100% - 25px);
    }

    .suggest-video {
        width: calc(100% - 25px);
    }

    .thumbnail {
        flex-basis: calc(25% - 5px);
        position: relative;
    }

    .video-info {
        flex-basis: calc(75% - 5px);
        display: flex;
        justify-content: space-between;
    }

    .more {
        right: 0;
        left: auto;
    }

    .navigation__search>.form-search {
        margin-left: 30px;
    }

    .mdi-keyboard {
        right: 20%;
    }


}

@media (max-width: 768px) {
    .navigation__menu {
        gap: 15px;
    }

    .navigation__options {
        margin-right: 20px;
    }

    .content__wrapper {
        margin-left: 20px;
    }

    .video-detail {
        width: calc(100% - 40px);
        flex-basis: calc(100% - 40px);
    }

    .action-dowload,
    .action-thank {
        display: none;
    }

    .channel-name {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .subs {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .subscribed {
        flex-shrink: 0;
        margin-right: 40px;
    }

    .action-share {
        flex-shrink: 0;
    }

    .more {
        right: 0;
        left: auto;
    }

    .suggest-video {
        width: 100%;
    }

    .thumbnail {
        flex-basis: calc(25% - 5px);
    }

    .video-info {
        flex-basis: calc(75% - 5px);
        justify-content: space-between;
        margin-right: 35px;

    }

    .navigation__search>.form-search {
        margin-left: 70px;
        width: 50%;
    }

    .form-search>input {
        width: 50%;

    }

    .mdi-keyboard {
        right: 55%;
    }

    .micro {
        margin-right: 20px;
        margin-left: 0;
    }

    .description {
        width: 100%;
    }

    .deploy-dialog {
        top: 10%;
        left: 70%;
    }

    .time-badge {
        bottom: 10px;

    }

}

@media(max-width:500px) {

    .action-share {
        display: flex;
    }

    .above-the-fold {
        gap: 10px;
        flex-direction: column;
    }

    .action {
        justify-content: space-between;
    }


    .descripton-end>span {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 300px;
    }

    .thumbnail {
        flex-basis: calc(45% - 5px);
        position: relative;
    }

    .video-info {
        margin-right: 0;
        flex-basis: calc(55% - 5px);
    }
}

@media (max-width: 480px) {
    .content__wrapper {
        flex-direction: column;
    }

    .suggest-video {
        width: calc(100vh - 400px);
    }

    .video-detail {
        /* width: calc(100% - 15px);
    flex-basis: calc(100% - 15px); */
        width: calc(100vh - 400px);
    }

    .title-video {
        font-size: 12px;
    }

    .channel-details>.channel-name {
        font-weight: 500;
        font-size: 10px;
    }

    .icon-subcribed {
        font-size: 10px;
    }

    .text-subcribed {
        font-size: 10px;
    }

    .mdi-chevron-down {
        font-size: 10px;
    }

    .icon-like,
    .icon-dislike,
    .icon-share {
        font-size: 10px;
        cursor: pointer;
    }

    .total-like {
        font-size: 10px;
    }

    .action {
        align-items: center;
    }

    .action-like-dislike {
        height: 23px;
    }

    .text-share {
        font-size: 10px;
    }

    .channel-details>.subs {
        font-size: 10px;
    }

    .info>img {
        width: 30px;
        height: 30px;
    }

    .channel {
        gap: 5px;
    }

    .channel>.subscribed {
        margin-right: 0px;
    }

    .like,
    .dislike {
        padding: 0 5px;
    }

    .video-text .title {
        font-size: 10px;
    }

    .video-text .channel {
        font-size: 10px;
    }

    .stats {
        font-size: 10px;
    }

    .badge {
        font-size: 8px;
        margin-top: 0;
        padding: 0;
    }

    .time-badge {
        font-size: 10px;
        bottom: 20px;
    }

    .dots-vertical {
        left: auto;
        font-size: 12px;
    }

    .navigation__menu__btn {
        font-size: 20px;
    }

    .logo {
        width: 50px;
    }

    .form-search>input {
        display: none;
    }

    .mdi-keyboard {
        display: none;
    }

    .mdi-magnify {
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }

    .mdi-microphone {
        background-color: #fff;
    }
}

@media (max-width: 390px) {
    .video-detail {
        width: calc(100vh - 175px);
    }

    .suggest-video {
        width: calc(100vh - 180px);
    }

    .content__wrapper {
        margin-left: 20px;
        margin-right: 10px;
    }

    .description {
        width: auto;
    }

    .video-info {
        flex-basis: calc(75% - 5px);
    }

    .thumbnail {
        flex-basis: calc(25% - 5px);
    }

    .dots-vertical {
        left: auto;
    }

}